<html>

	<head>
		<link href="/style.css" rel="stylesheet">
	</head>

<body>

	<header>
			<nav>
				<div class="position">
					<li>
					  <ul class="ul1"><a href="/new-game">New Game</a></ul>
					  <ul class="logo"> Rock, Paper, Scissors ! </ul>
					  <ul><a href="http://en.wikipedia.org/wiki/Rock-paper-scissors">Story</a></ul>
					</li>
				</div>
			</nav> 
	</header>

	<section>
		<%= yield %>
	</section>

	<footer>
		<div class="footer"></div>
	</footer>

</body>

</html>