<div class="my_name">
	</div>
	<div class="form_new_player">
	<section class="new_player_form"><form action="/player" method="POST">
 <input type="text" name="name" placeholder="Enter Name, and press enter !">
</form>
</section>
</div>
