RESULTS:

<% if GAME.winner == "Draw" %>
 <h1> it was a draw </h1>
 <%end%>

 <% if GAME.winner == GAME.player1 %>
 <h1> it was a draw </h1>
 <%end%>

 <% if GAME.winner == GAME.player1 %>
 <h1> it was a draw </h1>
 <%end%>



