
RESULTS:
<% if GAME.winner == "Draw" %>
 <h1> it was a draw </h1>
 <% elsif GAME.winner.name == GAME.player1.name %>
 <h1> You lost, the compute won with <%= GAME.winner.pick %></h1>
<% else %>
<h1> You won, with <%= GAME.winner.pick %> </h1>
<%end%>

